//$primary : #AB01FA;

.button-a {
  background-color: #46139f !important;
  border-color: #46139f !important;
}

.button-b {
  background-color: #ff7f50 !important;
  border-color: #ff7f50 !important;
}

.button-c {
  background-color: #fff !important;
  border-color: #46139f !important;
  color: #000 !important;
}
